body {
  padding: 34px;
  text-align: center;
}
.weather-app {
  border: 4px outset #4db3a9;
  border-radius: 7px;
  padding: 34px;
  max-width: 700px;
  margin: 0 auto;
  background-image: linear-gradient(
    to bottom,
    #97babb,
    #a8c5c8,
    #bad1d4,
    #cbdce0,
    #dde8eb
  );
}
h1,
h2,
h3,
.row,
button,
.placeholder {
  color: #2d857c;
  font-family: "Quicksand", sans-serif;
}
h1 {
  padding: 15px;
}

h2 {
  font-size: 40px;
  padding-top: 16px;
}
a {
  text-decoration: none;
  color: #4db3a9;
}
a:hover {
  text-decoration: underline;
}

input,
button {
  border: solid;
  border-color: #4db3a9;
  border-radius: 5px;
  color: #4db3a9;
}
hr {
  background-color: #4db3a9;
  border: solid;
  border-color: #4db3a9;
  border-radius: 7px;
  height: 40px;
  margin-top: 20px;
}
li {
  list-style: none;
}
ul {
  margin: 0 auto;
  padding: 0;
}
footer {
  opacity: 0.5;
  padding: 10px;
  font-size: 12px;
}
.main-icon {
  font-size: 40px;
  padding: 10px;
}
.details {
  font-size: larger;
}
.units {
  position: relative;
  font-size: 18px;
  top: -16px;
}

.units .active {
  color: #48484a;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.current-forecast img {
  height: 44px;
  width: 44px;
}
